/target

# input files
inputs/one.txt
inputs/two.txt
inputs/three.txt
inputs/four.txt
inputs/five.txt
inputs/six.txt
inputs/seven.txt
inputs/eight.txt
inputs/nine.txt
inputs/ten.txt
inputs/eleven.txt
inputs/twelve.txt
inputs/thirteen.txt
inputs/fourteen.txt
inputs/fifteen.txt
inputs/sixteen.txt
inputs/seventeen.txt
inputs/eighteen.txt
inputs/nineteen.txt
inputs/twenty.txt
inputs/twentyone.txt
inputs/twentytwo.txt
inputs/twentythree.txt
inputs/twentyfour.txt
inputs/twentyfive.txt